<!--::Bag::Default
-->
<kendo-dialog class="wy-dialog-noclose">
    <kendo-dialog-titlebar>
        <span i18n="@@AppDownload">App download</span>
        &nbsp;
        <span>2.32</span>
    </kendo-dialog-titlebar>
    <div style="text-align: center;">
        <p class="text-muted" i18n="@@DownloadAppForAndroid">Download app for Android.</p>
        <a href="/download/todo_2.32.apk" class="font-weight-bold">
            <img src="assets/img/svg/android.svg" style="width: 200px;" />
            <p></p>
            <span i18n="@@Download">Download</span>
        </a>
        |
        <a routerLink="/" class="font-weight-bold" i18n="@@GoHome">Go home</a>
    </div>
</kendo-dialog>