.wy-blob-manager {
    .wy-blob-text-link {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        display: block;
    }

    .wy-blob-image-link {
        margin-bottom: 3px;
    }

    .card {
        cursor: pointer;
        background-color: #efefef;
        border: none;
        margin-bottom: 5px;
    }

    .card-text {
        margin: 3px;
    }

    .card-inverse {
        background-color: #aaa;
        border-color: #aaa;
    }

    button.close {
        top: 5px;
        position: absolute;
        right: 5px;
    }
}
