<!--::Bag::Deployment
-->
<configuration>
  <system.webServer>
    <!-- requires URL Rewrite Module: https://www.microsoft.com/en-us/download/details.aspx?id=47337 -->
    <rewrite>
      <outboundRules>
        <remove name="AdjustCacheForIndexHTML" />
        <rule name="AdjustCacheForIndexHTML" preCondition="IsIndexHTML">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <preConditions>
          <remove name="IsIndexHTML" />
          <preCondition name="IsIndexHTML">
            <add input="{REQUEST_FILENAME}" pattern="index.html" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <remove name="RewriteRule1" />
        <remove name="RewriteRule2" />
        <remove name="RewriteRule3" />
        <rule name="RewriteRule1">
          <match url="^app\/(.*)" />
          <conditions>
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="RewriteRule2">
          <match url="^pages\/(.*)" />
          <conditions>
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="private" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
</configuration>
